/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* header {
    background-color: black;
    color: white;
    padding: 0px;
    border-bottom: 10px solid black;
} */

/* header .container {
    max-width: 800px;
    margin: 0 auto;
} */

nav {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.logosuperior {
    padding-right: 10px;
}

.datos {
    display: flex;
}

.busqueda {
    display: flex;
}

.pie {
    color: white;
    height: 30px;
}

main {
    /* display: flex; */
    max-width: 800px;
    margin: 0 auto;
}

main section div {
    border: 1px solid black;
    height: 40px;
    font-size: 22px;
}

main section li {
    display: inline-block;
    /* background-color: red; */
}

main section ul li:first-child {
    width: 80%;
}

main section ul li:nth-child(2) {
    width: 80px;
    text-align: center;
}

main section ul {
    margin-bottom: 0;
}

/* .contenido {
    padding: 0;
    background-image: url('../images/todo_list.jpg');
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
} */

#tareas {
    opacity: 95%;
    margin-bottom: 30px;
}

body {
    padding: 0;
    background-image: url('../images/todo_list.jpg');
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}